
     
     <div class="container" onclick="onclick">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="center">
                <p> </p>
                <h1> </h1>
                <h3> </h3>
                <h4> </h4>
                <h2>CREA UN PROYECTO</h2>
                <form name="proyecto" (ngSubmit)="f.form.valid && createProyecto()" #f="ngForm" novalidate>
                        <input placeholder="Nombre del proyecto"  name="proyectoNombre" id="proyectoNombre" [(ngModel)]="proyectoDetail.nombre"
                        #cambioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proyectoDetail.invalid }" required />
                        <div class="invalid-feedback">
                                <div>No ha ingresado un nombre</div>
                        </div>
                        <input  name="proyectoDescripcion" id="proyectoDescripcion" [(ngModel)]="proyectoDetail.descripcion"
                        #cambioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proyectoDetail.invalid }" placeholder="Descripcion del proyecto" required>
                    <div class="invalid-feedback">
                        <div>No ha ingresado una descripcion</div>
                    </div>
                    <div class = "button">

                            <button type="submit" class="btn btn-outline-dark">Crear</button> &nbsp;
                            <button type="button" class="btn btn-outline-danger" (click)="cancelCreation()">Cancelar</button>
                          <!---  <a type="submit" class="brk-btn">
                                Crear proyecto
                              </a>
                              <a (click)="cancelCreation()" [routerLink]="['/home']" routerLinkActive="router-link-active" class="brk-btn-red">
                                Cancelar
                              </a> -->
                    </div>
                    <p> </p>
                </form>
                <a  [routerLink]="['/login']" routerLinkActive="router-link-active"> ¿Ya tienes una cuenta? Login</a>
                    <a [routerLink]="['/signup']" routerLinkActive="router-link-active">¿No tienes una cuenta aun? Sign up</a>
                <h2>&nbsp;</h2>
            </div>
        </div>
     
     
     
     
        
    <!--
        <div class="col-6">
            <h2 class="text-center">Crear un nuevo proyecto</h2>
            <form name="proyecto" (ngSubmit)="f.form.valid && createProyecto()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="proyectoNombre"><b>Ingrese el nombre del proyecto</b></label>
                    <input type="text" name="proyectoNombre" class="form-control" id="proyectoNombre" [(ngModel)]="proyectoDetail.nombre"
                        #cambioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proyectoDetail.invalid }" required>
                    <div class="invalid-feedback">
                        <div>No ha ingresado un nombre</div>
                    </div>
                    <label for="proyectoDescripcion"><b>Ingrese la descripcion del proyecto</b></label>
                    <input type="text" name="proyectoDescripcion" class="form-control" id="proyectoDescripcion" [(ngModel)]="proyectoDetail.descripcion"
                        #cambioName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proyectoDetail.invalid }" required>
                    <div class="invalid-feedback">
                        <div>No ha ingresado una descripcion</div>
                    </div>
                    </div>  
                        <div class="col-5">
                          <p> </p>
                          <p> </p>
                          <p> </p>
                          <img align='center' src= "http://cpscba.org.ar/wp-content/uploads/2018/08/cambio-1024x538.jpg" width="270" height='150'>
                        </div>
                <p>  </p>
                      <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <div class="divider"><p> </p></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
      </div>
    -->
      