<!-- <div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body"> -->
<div class="container-fluid" id="tabla">
  <h3 class="card-title">Visualización Objetivo {{obj.id}}</h3>
  <!--Table-->
  <table id="tablePreview" class="table table-bordered table-striped">
    <!--Table head-->
    <thead>
      <tr>
        <th>Atributo</th>
        <th>Información</th>
      </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
      <tr>
        <td>Descripcion</td>
        <td> {{obj.descripcion}} </td>
      </tr>
      <tr>
        <td> Importancia </td>
        <td> {{obj.importancia}} </td>
      </tr>
      <tr>
        <td> Estabilidad</td>
        <td> {{obj.estabilidad}} </td>
      </tr>
      <tr>
        <td> Comentarios</td>
        <td> {{obj.comentarios}} </td>
      </tr>


    </tbody>
    <!--Table body-->
  </table>

  <a href="#" class="btn btn-primary"> Listar Requisitos
  </a>
  &nbsp;
  <!--       <p> </p> -->
  <a href="#" class="btn btn-danger"> Eliminar Objetivo
  </a>
  <br>
  <br>
  <!--     </div>-->
</div>

<app-listar-requisitos> </app-listar-requisitos>