<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" *ngFor = "let book of books">
            <figure class="figure" routerLink="/books/{{book.id}}" style="cursor: pointer;"> 
                <div class="img-thumbnail border-0">                        
                    <img class="img-fluid" src='{{book.image}}' alt="{{book.name}}" />                                     
                </div>
                <figcaption class="title-caption text-center">{{book.name}}</figcaption>
                <div *ngFor = "let author of book.authors">
                    <figcaption class="author-caption text-center" routerLink="/authors/{{author.id}}">{{author.name}}</figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>
