<h2 class="mainTitle">Agregar Stakeholder</h2>
<div class="container-fluid">
  <div class="col-md-2">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <input type="String" [(ngModel)]="stakeholder.nombre" required>
        </td>
        <td>
          <input type="String" [(ngModel)]="stakeholder.tipo" required>
        </td>
      </tbody>
    </table>
  </div>
  <td><button class="btn btn-success" (click)="createStakeholder()">Agregar</button></td>