<div class="row">
    <div class="col-3"></div>
    <div class="col-8">
        <br>
        <h2 class="text-center">Editar un cambio</h2>
        <br>
        <form name="cambio" (ngSubmit)="f.form.valid && editCambio()" #f="ngForm" novalidate>
                <div>
                        <label for="cambioObjReq"><b>Seleccione el objetivo/requisito a aprobar/revisar/desaprobar</b></label>
                            <select name="cambioObjReq" class="form-control" id="cambioObjReq" [(ngModel)]="cambioDetail.nombre_aprobado"
                            #cambioName="ngModel">
                              <option>Objetivo 1</option>
                              <option>Objetivo 2</option>
                              <option>Objetivo 3</option>
                              <option>Objetivo 4</option>
                              <option>Objetivo 5</option>
                              <option>Requisito 1</option>
                              <option>Requisito 2</option>
                              <option>Requisito 3</option>
                              <option>Requisito 4</option>
                              <option>Requisito 5</option>
                            </select>
                          </div>
                          <div>
                                <label for="cambioObjReq"><b>Seleccione el id del objetivo/requisito a aprobar/revisar/desaprobar</b></label>
                                <select name="cambioObjReq" class="form-control" id="cambioObjReq" [(ngModel)]="cambioDetail.id_aprobado"
                                #cambioObjReq="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cambioDetail.invalid }" required>
                                  <option type="number">1</option>
                                  <option type="number">2</option>
                                  <option type="number">3</option>
                                  <option type="number">4</option>
                                  <option type="number">5</option>
                                </select>
                              </div>
            <div class="form-group">
                <label for="cambioTipo"><b>Tipo de cambio</b></label>
                <select name="cambioObjReq" class="form-control" id="cambioObjReq" [(ngModel)]="cambioDetail.tipo"
                #cambioTipo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cambioDetail.invalid }" required>
                  <option type="number">MODIFICACION</option>
                  <option type="number">APROBACION</option>
                  <option type="number">ELIMINACION</option>
                </select>
            </div>
            <div class="form-group">
                    <label for="cambioTipo"><b>Descripción del cambio</b></label>
                    <textarea name="cambioDescripcion" class="form-control" id="cambioDescripcion" [(ngModel)]="cambioDetail.descripcion"
                        #cambioDescripcion="ngModel" 
                        required></textarea>
                    <div class="invalid-feedback">
                        <div>Falta editar la descripcion del cambio</div>
                    </div>
                </div>
                <label for="cambioFechaYHora"><b>Fecha y Hora de publicación</b></label>
                <input class="form-control" name="cambioFechaYHora" type="text" placeholder= {{fecha}} readonly [(ngModel)]="cambioDetail.fechaYHora"
                #cambioName="ngModel">
                <p> </p>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Editar</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>