  <div id=container>
    Maneja tus
    <div id=flip>
      <div><div>requerimientos</div></div>
      <div><div>objetivos</div></div>
      <div><div>requisitos</div></div>
    </div>
    cumple 
    <div>
    tus expectativas
  </div>
<p> </p>
<p> </p>
<div class="row">
  <a [routerLink]="['/login']" routerLinkActive="router-link-active">
      <svg class="icon-arrow before">
          <use xlink:href="#arrow"></use>
      </svg>
      <span class="label">Log in</span>
      <svg class="icon-arrow after">
          <use xlink:href="#arrow"></use>
      </svg>
  </a>
  <svg style="display: none;">
    <defs>
      <symbol id="arrow" viewBox="0 0 35 15">
        <title>Arrow</title>
        <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
      </symbol>
    </defs>
  </svg>
</div>
<p>  </p>
<h1> </h1>
<h1> </h1>
<div class="row">
  <a [routerLink]="['/proyectos/nuevo']" routerLinkActive="router-link-active" >
      <svg class="icon-arrow before">
          <use xlink:href="#arrow"></use>
      </svg>
      <span  class="label">Crear un proyecto</span>
      <svg class="icon-arrow after">
          <use xlink:href="#arrow"></use>
      </svg>
  </a>
  
  <svg style="display: none;">
    <defs>
      <symbol id="arrow" viewBox="0 0 35 15">
        <title>Arrow</title>
        <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
      </symbol>
    </defs>
  </svg>
</div>
  </div>
