<div class="content" >
    <div class="titulos">
        <h1 color="white;">{{objetivo.id}}</h1>
        <h2 color="white;">{{objetivo.descripcion}}</h2>
    </div>
    <div class="cards" *ngFor="let r of requisitos"> 
    <div class="card">
      <div class="card__side card__side--front">
        <!-- Front Content -->
        <div class="card__cont">
          <span class="blue">{{r.id}}. </span><span><span class="green">{{ r.tipo}}</span></span>
        </div>
      </div>
      <div class="card__side card__side--back">
        <!-- Back Content -->
        <div class="card__cta">
          <p><span class="purple">Requisito </span> {{r.id}} <span class="cyan">:</span> 
            <br />
            <span class="space red">Tipo</span><span class="cyan"> : </span> <span class="green">{{r.tipo}}</span>
            <br/>
            <span class="space red">Descripcion</span><span class="cyan"> : </span> <span class="green">{{r.descripcion}}</span>
            <br/>
            <span class="space red">Importancia</span><span class="cyan">:</span> <span class="green">{{r.importancia}}</span>
            <br/>
            <span class="space red">Estabilidad</span><span class="cyan">:</span> <span class="green">{{r.estabilidad}}</span>
            <br/>
            <span class="space red">Comentarios</span><span class="cyan">:</span> <span class="green">{{r.comentarios}}</span>
            <br/>
            <span class="space red">Aprobaciones</span><span class="cyan">:</span> <span class="green">{{r.aprobaciones}}</span>
            <br/>
            <span class="space red">Fuentes</span><span class="cyan">:</span> <span class="green">{{r.fuentes}}</span>
            <br/>
            <span class="space red">Cambios</span><span class="cyan">:</span> <span class="green">{{r.cambios}}</span>
            <br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>