<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Login</h2>
        <br>
        <form name="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="username"><b>Name</b></label>
                <input type="text" name="username" class="form-control" id="username" [(ngModel)]="user.name" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="text" name="password" class="form-control" id="password" [(ngModel)]="user.password" required>
            </div>
            <div class="form-group">
                <label for="role"><b>Role</b></label>
                <select class="custom-select" name="role" id="role" [(ngModel)]="user.role" required>
                    <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                </select>
            </div>
            <div class="justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
