<!--
<div class="container -column">
    <div class="card-holder">
      <div class="card -small -back -flipped">
        <a class="card--title" href="#">Flipping card</a>
        <p class="card--text">
          hiding backface is the key
        </p>
      </div>
      <div class="card -small -front -orange">
      </div>
    </div>
    <div class="card-holder">
      <div class="card -small -back -flipped">
        <a class="card--title" href="#">Flipping card</a>
        <p class="card--text">
          hiding backface is the key
        </p>
      </div>
      <div class="card -small -front -green">
      </div>
    </div>
  </div>
-->
<!--
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Objetivos</li>
    </ol>
  </nav>

<div class="card-columns">
  <div class="card text-white mb-3 " style="height: 100%;" *ngFor="let o of objetivos"
    [ngClass]="{'bg-success': o.importancia===1 , 'bg-primary': o.importancia===2, 'bg-danger': o.importancia===3}">
    <div class="card-header" style="font-size: 25px">{{o.descripcion}}</div>
    <div class="card-body">
      <p class="card-text">{{o.comentarios}}</p>
      <a class="btn btn-outline-light" routerLink="{{o.id}}"> Ver más detalles</a>
    </div>
  </div>
</div>
-->



<div *ngIf="objetivos" class="container-fluid" id="tabla">
    <br>
    <h3 class="card-title">Lista de Objetivos para el proyecto con id {{proyectoId2}} </h3>
    <!--Table-->
    <table id="tablePreview" class="table table-bordered table-striped">
      <!--Table head-->
      <thead>
      <tr>
        <th>Objetivo</th>
        <th>Nombre</th>
      </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
      <tr *ngFor="let i of objetivos">
        <td><a routerLink="{{i.id}}"> {{i.id}} </a></td>
        <td> {{i.descripcion}} </td>
      </tr>
      </tbody>
      <!--Table body-->
    </table>
    <br>
    <br>
    <!--     </div>-->
    </div>
  