<div class="container-fluid" id="tabla">
  <h3 class="card-title">Creación de un Nuevo Objetivo
  </h3>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Descripcion</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Escriba una descripcion compacta de su nuevo objetivo">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Importancia</label>
      <select class="form-control" id="exampleInputPassword1">
        <option> 1 </option>
        <option> 2 </option>
        <option> 3 </option>
      </select>
      <small id="emailHelp" class="form-text text-muted">Seleccione la importancia de su nuevo objetivo, donde 1 es la
        menor, 3 es la mayor</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Estabilidad</label>
      <select class="form-control" id="exampleInputPassword1">
        <option> 1 </option>
        <option> 2 </option>
        <option> 3 </option>
      </select>
      <small id="emailHelp" class="form-text text-muted">Seleccione la estabilidad de su nuevo objetivo, donde 1 es la
        menor, 3 es la mayor</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Comentarios</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Ingrese los comentarios que quisiera hacer sobre este objetivo, si los hay">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Descripcion</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Escriba una descripcion compacta de su nuevo objetivo">
    </div>


    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>