<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="..">Ir atrás</a></li>
      <li class="breadcrumb-item active" aria-current="page">Aprobación</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear una nueva aprobación</h2>
        <br>
        <form name="aprobacion" (ngSubmit)="f.form.valid && createAprobacion()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="aprobacionAutor"><b>Ingrese su nombre y apellido</b></label>
                <input type="text" name="aprobacionAutor" class="form-control" id="aprobacionAutor" [(ngModel)]="aprobacionDetail.autor"
                    #aprobacionName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aprobacionDetail.invalid }" required>
                <div class="invalid-feedback">
                    <div>No ha ingresado su nombre y apellido</div>
                </div>  
              </div>
                    <div class="row">
                    <div class='col-7'>
                        <label for="aprobacionDescripcion"><b>Comentario sobre la aprobacion</b></label>
                    <textarea name="aprobacionDescripcion" class="form-control" id="aprobacionDescripcion" rows="5" [(ngModel)]="aprobacionDetail.comentario"
                        #aprobacionName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aprobacionDetail.invalid }" required></textarea>
                    <div class="invalid-feedback">
                        <div>Falta el comentario sobre la aprobacion</div>
                    </div> 
                    </div>  
                  </div>
                  <label for="aprobacionEstado"><b>Seleccione el estado de su aprobación</b></label>
                    <select name="aprobacionEstado" class="form-control" id="aprobacionEstado" [(ngModel)]="aprobacionDetail.estado"
                    #aprobacionName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aprobacionDetail.invalid }" required>
                      <option value="APROBADO">Aprobado</option>
                      <option value="EN REVISION">En revision</option>
                      <option value="NO APROBADO">No aprobado</option>
                    </select>
              <label for="aprobacionFechaYHora"><b>Fecha y Hora de publicación</b></label>
                <input name="aprobacionFechaYHora" class="form-control" id="aprobacionFechaYHora" [(ngModel)]="aprobacionDetail.fechaYHora"
                #aprobacionFechaYHora="ngModel" value="{{fecha}}" disabled> 
                <p> </p>
                  <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary" >Crear</button><p> </p>
                <div class="divider"></div>
                <p> </p>
                <button type="button" class="btn btn-danger" routerLink="../.." (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>