
<div *ngIf="proyectos" class="container-fluid" id="tabla">
	<br>
	<h3 class="card-title">Lista de Proyectos </h3>
	<!--Table-->
	<table id="tablePreview" class="table table-bordered table-striped">
	  <!--Table head-->
	  <thead>
		<tr>
		  <th>Proyecto</th>
		  <th>Nombre</th>
		</tr>
	  </thead>
	  <!--Table head-->
	  <!--Table body-->
	  <tbody>
		<tr *ngFor="let i of proyectos">
		  <td><a routerLink="{{i.id}}"> {{i.id}} </a></td>
		  <td> {{i.nombre}} </td>
		</tr>
	  </tbody>
	  <!--Table body-->
	</table>
	<br>
	<br>
	<!--     </div>-->
  </div>
