<div class="row">
        <div class="column">
                <app-listar-organizacion></app-listar-organizacion>
        </div>
        <div class="column">
                <h2 class="text-center">Eliminar</h2>
                <div class="container-fluid">
                  <div class="col-md-2">
                      <table class="table table-striped">
                          <thead class="thead-dark">
                              <tr>
                                  <th>ID</th>
                              </tr>
                          </thead>
                          <tbody>
                                <td>
                                  <input type="number" [(ngModel)] = "id" required>
                                </td>
                          </tbody>
                      </table>
                  </div>
                  <td><button class="btn btn-danger" (click)="eliminarOrganizacion(id)">Eliminar</button></td>
                
        </div>
</div> 

