<h2 class="text-center">Eliminar</h2>
<div class="container">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <input type="number" [(ngModel)]="id" required>
                </td>
            </tbody>
        </table>
    </div>
    <td><button class="btn btn-danger" (click)="eliminarOrganizacion(id)">Eliminar</button></td>
</div>