<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>id</th>
            			<th>nombre</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of casosdeuso">
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)">{{i.id}}</a>
						</td>
            			<td>
							<p class="figure-caption">{{i.nombre}}</p>
            			</td>
					</tr>
				</tbody>
      		</table>
		</div>
		<div class="col">
			<div *ngIf="selectedCasodeuso">
					<app-casodeuso-detail [casodeusoDetail]="selectedCasodeuso"> </app-casodeuso-detail>
				</div>
	</div>
	</div>
</div>
