<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="..">Ir atrás</a></li>
      <li class="breadcrumb-item active" aria-current="page">Aprobación</li>
    </ol>
  </nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-6">
			<table class="table table-hover">
				<thead class="thead-dark" align = 'center'>
					<tr>
						<th>#</th>
            <th>Autor</th>
            <th>Fecha y Hora</th>
            <th>Estado</th>
					</tr>
				</thead>
				<tbody align = 'center'> 
					<tr *ngFor="let i of aprobaciones">
						<td style="cursor: pointer;">
							<a class="figure-caption" (mouseenter)="onSelected(i.id)">{{i.id}}</a>
						</td>
            <td >
							<p class="figure-caption">{{i.autor}}</p>
						</td>
            <td>
              <p class="figure-caption" >{{i.fechaYHora}}</p>
          </td>
          <td >
							<p class="figure-caption" >{{i.estado}}</p>
          </td>
					</tr>
				</tbody>
      </table>
    </div>
    <div class="col-6">
				<div *ngIf="selectedAprobacion">
						<app-detail-aprobacion [aprobacionDetail]="selectedAprobacion"> </app-detail-aprobacion>
					</div>
		</div>
	</div>
	</div>