
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Objetivos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver objetivos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear objetivo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Actualizar objetivo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Eliminar objetivo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Requisitos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver requisitos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear requisito</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Actualizar requisito</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Eliminar requisito</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Casos de Uso
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver casos de uso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear caso de uso</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Caminos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver caminos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear camino</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Condiciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver condiciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear condición</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cambios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cambio/list" routerLinkActive="active">Ver historial de cambios</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear cambio</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Aprobaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver aprobaciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Crear aprobación</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Organizaciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver organizaciones existentes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Crear organización</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Actualizar organización</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Eliminar organización</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stakeholders
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Ver stakeholders existentes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Crear stakeholder</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Actualizar stakeholder</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Eliminar stakeholder</a>
            </div>
          </li>



    </ul>
  
  </div>
</nav>

<h1 align='center'>Proyecto 1</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>




