<h2 class="text-center">Agregar</h2>
<div class="container">
  <div class="col">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Sector</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <input type="String" [(ngModel)]="organizacion.nombre" required>
        </td>
        <td>
          <input type="String" [(ngModel)]="organizacion.sector" required>
        </td>
      </tbody>
    </table>
  </div>
  <td><button class="btn btn-success" (click)="createOrganizacion()">Agregar</button></td>