<div class="todo">
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../..">Objetivos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear Objetivo</li>
    </ol>
  </nav>
</div>
<div class="container">
  <h2>Crear Objetivo</h2>
  <form>
    <div class="form-group">
      <label>Descripción</label>
      <input type="text" class="form-control" [(ngModel)]="objeto.descripcion" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Importancia</label>
      <select class="form-control" [(ngModel)]="objeto.importancia" [ngModelOptions]="{standalone: true}">
        <option value="1">Baja</option>
        <option value="2">Media</option>
        <option value="3">Alta</option>
      </select>
    </div>
    <div class="form-group">
      <label>Estabilidad</label>
      <select class="form-control" [(ngModel)]="objeto.estabilidad" [ngModelOptions]="{standalone: true}">
        <option value="1">Baja</option>
        <option value="2">Media</option>
        <option value="3">Alta</option>
      </select>
    </div>
    <div class="form-group">
      <label>Comentarios</label>
      <textarea class="form-control" rows="3" [(ngModel)]="objeto.comentarios"
        [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)='crearObjeto()' routerLink="..">Crear</button>
    <button type="submit" class="btn btn-default" >Cancelar</button>
  </form>
</div>
</div>