<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="../..">Ir atrás</a></li>
      <li class="breadcrumb-item active" aria-current="page">Aprobación</li>
    </ol>
  </nav>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Editar una aprobacion</h2>
        <br>
        <form name="aprobacion" (ngSubmit)="f.form.valid && editAprobacion()" #f="ngForm" novalidate>
            <label for="aprobacionEstado"><b>Seleccione el estado de su aprobación</b></label>
            <select name="aprobacionEstado" class="form-control" id="aprobacionEstado" [(ngModel)]="aprobacionDetail.estado"
            #aprobacionName="ngModel">
              <option value="APROBADO">Aprobado</option>
              <option value="EN REVISION">En proceso</option>
              <option value="NO APROBADO">No aprobado</option>
            </select>
            <div class="form-group">
                    <label for="cambioTipo"><b>Comentario sobre la aprobación</b></label>
                    <textarea name="aprobacionDescripcion" class="form-control" id="aprobacionDescripcion" [(ngModel)]="aprobacionDetail.comentario"
                        #aprobacionTipo="ngModel" 
                        required></textarea>
                    <div class="invalid-feedback">
                        <div>Falta editar el comentario de la aprobación</div>
                    </div>
                </div>
                    <label for="aprobacionFechaYHora"><b>Fecha y Hora de edición</b></label>
                <input name="aprobacionFechaYHora" class="form-control" id="aprobacionFechaYHora" [(ngModel)]="aprobacionDetail.fechaYHora"
                #aprobacionFechaYHora="ngModel" value="{{fecha}}" disabled> 
                    <p> </p>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary" >Edit</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelEdition()" routerLink="../..">Cancel</button>
            </div>
            
        </form>
    </div>
    <div class="col-3"></div>
</div>