<div class="card" style="width: 20rem;">
    <img class="card-img-top" src= "../../../assets/aprobacion.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" align = 'center'>Resumen: {{aprobacionDetail.tipo}}</h5>
      <h6 align = 'justify'>Autor: {{aprobacionDetail.autor}}</h6>
      <p class="card-text" align = 'justify'>Descripción: {{aprobacionDetail.comentario}}</p>
      <p class="card-text" align = 'justify'>Estado: {{aprobacionDetail.estado}}</p>
    </div>
  </div>
